# PANDAS

In [1]:
import pandas as pd

# Data Structure

# series

One dimensional label data capable of holding any data type

In [2]:
s=pd.Series([-1,7,-8,4],index=('a','b','c','d'))

In [3]:
s

a   -1
b    7
c   -8
d    4
dtype: int64

# DataFrame

two dimension data structure with columns of potenially different datatype

In [10]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
'Capital': ['Brussels', 'New Delhi', 'Brasília'],
'Population': [11190846, 1303171035, 207847528]}

In [17]:
df=pd.DataFrame(data,columns=['Country','Capital','Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

# Input/Output

pd.read_csv('my_file.csv',header=None)

In [18]:
df.to_csv('mydataframe.csv')

# Read and Write to Excel

pd.read_excel('my_file.xlsx')

df.to_excel('dir/mydataframe.xlsx',sheet_name='sheet1')

Read multiple sheets from the same file

xlsx = pd.ExcelFile('my_file.xls')
df = pd.read_excel(xlsx, 'Sheet1')

# Asking For Help

In [23]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair
    DataFrame.iloc : Access group of rows and columns by integer position(s)
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Raises
    ------
    KeyError:
        when any items are not found

# Selection

# Getting

In [24]:
s['b']#getting one element

7

In [25]:
df[1:]#getting sub dataframe

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

# Selecting, Boolean Indexing & Setting

# By postion

In [27]:
df.iloc[[0],[0]]#Select single value by row & column

   Country
0  Belgium

In [35]:
df.iat([0][0])

# By Label

In [37]:
df.loc[[0],['Country']]#Select single value by row & column labels

   Country
0  Belgium

# By Label/Position

In [40]:
df.ix[2]#Select single row of subset of rows

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Country          Brazil
Capital        Brasília
Population    207847528
Name: 2, dtype: object

In [45]:
df.ix[: ,'Capital']#Select a single column ofsubset of columns

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

In [46]:
df.ix[1,'Capital']#Select rows and columns

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'New Delhi'

# Boolean Indexing

In [48]:
s[~(s>1)]#Series s where value is not >1

a   -1
c   -8
dtype: int64

In [50]:
s[(s<-1)|(s>2)]#where s is<-1 and >2

b    7
c   -8
d    4
dtype: int64

In [51]:
>>> df[df['Population']>1200000000]# Use filter to adjust DataFrame

  Country    Capital  Population
1   India  New Delhi  1303171035

# Setting

In [53]:
s['a']=6#Set index a of Series s to 6

# Read and Write to SQL Query or Database Table

from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)

read_sql() is a convenience wrapper around read_sql_table() and
read_sql_query()

pd.to_sql('myDf', engine)

# Dropping

In [58]:
s.drop(['a','c'])#Drop values from rows (axis=0)

b    7
d    4
dtype: int64

In [60]:
df.drop('Country', axis=1) #Drop values from columns(axis=1)

     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasília   207847528

# Sort & Rank

In [62]:
df.sort_index()#Sort by labels along an axis

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [63]:
df.sort_values(by='Country') #Sort by the values along an axis

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035

In [65]:
df.rank()#Assign ranks to entries

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

# Retrieving Series/DataFrame Information

In [66]:
df.shape#(rows,columns)

(3, 3)

In [68]:
df.index#Describe index

RangeIndex(start=0, stop=3, step=1)

In [69]:
df.columns#Describe DataFrame columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [70]:
df.info()#Info on DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [71]:
df.count()#Number of non-NA values

Country       3
Capital       3
Population    3
dtype: int64

# Applying Functions

In [72]:
f = lambda x: x*2

In [73]:
df.apply(f)#apply function

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

In [74]:
df.applymap(f)#Apply function element-wise

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

# Data Alignment

# Internal Data Alignment

NA values are introduced in the indices that don’t overlap:

In [76]:
s3 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
s3+s

a    13.0
b     NaN
c   -10.0
d     7.0
dtype: float64

# Arithmetic Operations with Fill Methods

You can also do the internal data alignment yourself with
the help of the fill methods:

In [77]:
>>> s.add(s3, fill_value=0)

a    13.0
b     7.0
c   -10.0
d     7.0
dtype: float64

In [78]:
s.sub(s3, fill_value=2)
s.div(s3, fill_value=4)
s.mul(s3, fill_value=3)

a    42.0
b    21.0
c    16.0
d    12.0
dtype: float64